# Ignorar archivos específicos
.env
queue.class.log
core.class.log
bot.qr.png
baileys.log
credenciales.json
credenciales-calendar.json
google-sheets-config.json
# Ignorar la carpeta node_modules
node_modules/

# Ignorar la carpeta bot_sessions
bot_sessions/

# Ignorar la carpeta backend-server
backend-server/